  <!--The content below is only a placeholder and can be replaced.-->
<div class="raleway-text black-bg">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  </div>
  <div class="container">
    <div class="search-box">
      <label for="Subject"></label>
      <input name="subject" type="text" [(ngModel)]="query">
      <button (click)="searchPosts()">Submit</button>
    </div>
    <div class="row">
      <div class="boxes" *ngFor="let post of postList">
        <a href="{{ post.data.url }}">
          {{ post.data.title }}
        </a>
        <img src="{{ post.data.thumbnail }}" alt="">
        <li class="list-items">Author: {{ post.data.author }} </li>
        <li class="list-items">Ups: {{ post.data.ups }}</li>
        <li class="list-items">Posted: {{ post.data.created | date }}</li>
      </div>
    </div>
  </div>
</div>
